<div class="container">
  <img src="/ndslogo.png" style="width: 40%;" />
  <h1>IoT - In a Nutshell</h1>
  <h2>A presentation for King's College</h2>
  <div class="download-section">
    <a href="/downloads/app-release.apk" download class="btn">Download the APK</a>
  </div>
</div>